body {
    font-family: sans-serif;
    font-size: 20px;
    background-color: #e0f0ff;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

#main {
    margin: 20px;
    padding: 20px;
    background: radial-gradient(farthest-corner at -250px, #fff, #ddd);
    border: 0px solid #bbb;
    box-shadow: 0px 0px 44px 4px rgba(0, 0, 0, 0.2);
}

h2, h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

h2 .styled {
    font-size: 32px;
    color: white;
    text-shadow:
      -2px -2px 0 #000,
       2px -2px 0 #000,
       -2px 2px 0 #000,
        2px 2px 0 #000;

}

.field {
    margin-bottom: 40px;
}

.field-label {
    font-weight: bold;
    line-height: 130%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  top: 12px;
  left: 6px;
  height: 12px;
  width: 50px;
  border-radius: 5px;
  background-color: #888;
  transition: .4s;
}

.slider:after {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 13px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider:before {
  background-color: #f99;
}

input:checked + .slider:after {
  transform: translateX(26px);
  background-color: #f33;
}

input {
    font-size: 18px;
    padding: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

input::placeholder {
    color: #d6d6d6;
}

select {
    font-size: 22px;
    width: 100px;
}

button {
    font-size: 22px;
}

.tip {
  font-size: 14px;
  color: #555;
}

.switch .tip {
    position: absolute;
    left: 70px;
    top: 8px;
    width: 490px;
}

h2.title {
    background: 0px -2px url('icon-48.png') no-repeat;
    background-size: contain;
    padding-left: 64px;
    line-height: 150%;
}

h3 {
    border-bottom: 1px solid #ccc;
}

h3 span {
    font-size: 15px;
}

.step-img:not(:last-child) {
    margin-bottom: 60px;
}
.step-img div {
    margin-bottom: 10px;
    font-size: 18px;
}
.step-img img {
    width: 100%;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.3);
}
